@font-face {
  font-family: 'roboto-light';
  src: url('./../font/Roboto-Light.ttf'); /* IE9 Compat Modes */
  src: url('./../font/Roboto-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'roboto-regular';
  src: url('./../font/Roboto-Regular.ttf'); /* IE9 Compat Modes */
  src: url('./../font/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'roboto-medium';
  src: url('./../font/Roboto-Medium.ttf'); /* IE9 Compat Modes */
  src: url('./../font/Roboto-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'roboto-semi-bold';
  src: url('./../font/Roboto-Black.ttf'); /* IE9 Compat Modes */
  src: url('./../font/Roboto-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'roboto-bold';
  src: url('./../font/Roboto-Bold.ttf'); /* IE9 Compat Modes */
  src: url('./../font/Roboto-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
  
  