$colors: (
	light: #fff,
	dark: #3e4752,
	primary: #40a9ff,
	secondary: #ff3279,
	warning: #d0372c,
	success: #00c486,
	facebook: #4267b2,
	dark-grey: #677484,
	grey:  #d9d9d9
);
$maxLoop: 100;
$step: 5;
